-i https://pypi.org/simple/
click==7.1.2
fastapi==0.47.1
h11==0.9.0
httptools==0.0.13 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'pypy'
pydantic==1.6.2
starlette==0.12.9
uvicorn==0.11.2
uvloop==0.15.2 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'pypy'
websockets==8.1
